# ========================
# 1. Hide all Python source code
# ========================


# ========================
# 2. Disable local configuration files and logs
# ========================
bot_config.json
bot_log.txt
*.ahk

# ========================
# 3. Block temporary process files and internal resources in the package.
# ========================
build/
obf_temp/
*.spec
dist/
cache/
other/
oldversion/
bk/
debug/

# ========================
# 4. Allowed content to be uploaded (This part is omitted as Git will automatically identify it)
# ========================
# We want to keep:
# - dist/ folder (your exe)
# - images/ folder (external screenshots)
# - version.json (your update file)
